*{
  margin:0
}

.app{
  background-color: #fafafa;
}

.app_header{
  object-fit: contain;
  border-bottom: 1px lightgray;
  display: flex;
  padding: 20px;
  background-color: white;
  justify-content: space-between;
}
 
.app_logo{
  width: 100px;
  padding: 20px;
  object-fit: contain;
}

.app_signup{
  display: flex;
  flex-direction: column;
}

.app_post{

  display: flex;
  padding: 20px;
  justify-content: center;
}

.app_postRight{
  margin-left: 20px;
}

.app_postLeft{
  width: 40%;
  height: 50%;
}

